/* src/PhoneScreen.css */

.PhoneScreen {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.form-group {
  justify-content: flex-start;
}

h1 {
  margin-bottom: 20px;
  color:#000;
  font-family: sans-serif;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #2dc4b1;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #2dc4b1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 16px;
}

button[type="submit"]:hover {
  background-color: #07090b;
}

/* CSS responsive cho màn hình điện thoại di động */
@media (max-width: 600px) {
  .form-group {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.react-tel-input .country-list {

  text-align: left;
}

.react-tel-input .country-list .flag {
  display: inline-block;
  position: relative;
}