.QrScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  align-items: center;
}

.QrScreen h1 {
  font-size: 24px;
  color: #FFF;
}

.QrScreen div {
  font-size: 18px;
}

.QrScreen a {
  color: #007bff;
  text-decoration: underline;
}

#reader {
  width: 250px;
}


.QRScanner p{
 color: black;
}

#title {
  font-weight: bold;
  margin-top: 2rem;
}